*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(assets/bck.png);
    background-attachment: fixed;
    background-size: cover;
}

/* Navbar start */
.navbar .container {
    background-color: rgba(196, 196, 196, 17%);
    justify-content: space-between !important;
    align-items: center;
    max-width: 100%;
    margin: 0px;
    margin-right: 0px;
}

.navbar .h1 a{
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0px 10px 10px #000000;
}
.navbar{
    margin: 0px;
}
/* Navbar End */

/* Footer Start */
.footer {
    position:fixed;
    width: 100%;
    bottom: 0;
}
/* Footer End */

/* .footer p {
    justify-self: flex-end !important; 
} */